//=== Variables ===

$color-primary: #58e1c1; //aqua
$color-secondary: #777; //gray
$color-default: #51ddfc; //blue
// $color-nav-link: rgb(226, 158, 31); //orange
$color-error: #e4757a;//dark red
$color-info: #927bc1;//purple
$color-success: #63cc82;//green
$color-warning: #fd7856; //bright red

$break-xs: 575px;
$break-s: 576px;
$break-m: 768px; //tablet size
$break-l: 992px;

$max-width: 1000px;

$font-stack-primary: 'Lato', sans-serif;
// $font-stack-secondary: ;
$font-size-blockquote: 1.5em;
$font-style-blockquote: italic;